body {
    padding: 50px 20%;
}

p {
    color: DarkSlateGray;
    font-family: Georgia, serif;
    text-align: justify;

}

h1{
    text-align: center;
    color: Plum;
    text-transform: uppercase;
}
h3 {
    text-align: center;
    color: Plum;
    }

h2 {
    text-align: right;
    color: Plum;
    border-bottom: solid LightSlateGray;
}

hr {
    border: dotted LightSlateGray 1px;
    width: 50%
}
#big-achievement{
    color: red;
}

.nine{
    font-style: italic;
}


b, strong {
    font-weight: bold;
    color: Plum;
}




