body {
    padding: 50px 20%;
}

p {
    color: DarkSlateGray;
    font-family: Georgia, serif;
    text-align: justify;
    font-style: italic;

}

h1, h3 {
    text-align: center;
    color: Plum;
    }

h2 {
    text-align: right;
    color: Plum;
    border-bottom: solid LightSlateGray;
}

hr {
    border: dotted LightSlateGray 1px;
    width: 50%
}




b, strong {
    font-weight: bold;
    color: Plum;
}




